// Font Families
%font1 {
    font-family: 'zilla slab', sans-serif;
}

%font2 {
    font-family: 'Roboto Slab', sans-serif;
}

// Background Colors
%bgc1 {
    background-color: $color1;
}

%bgc2 {
    background-color: $color4;
}

%bgc3 {
    background-color: $color2;
}

%bgc4 {
    background-color: $color6;
}